.likelion {
  
  .likelion__list {
    list-style: none;

    &:hover {
      background-color: palevioletred;
    }
  }

  .likelion__item {
    color: green;
  }

  .likelion__link {
    color: inherit;
  }
}
