.case-01{
  writing-mode: vertical-rl;
  border: 1px solid currentColor;
  color: green;
  /* width: 200px; */
  inline-size: 400px;
  block-size: 100px;
  overflow: auto;
  /* padding-inline: 20px;
  padding-block: 10px;
  margin-inline: 30px;
  margin-block: 50px; */
  padding-inline-start: 20px;
  padding-inline-end: 50px;
  /* padding-left: 20px;
  padding-right: 50px; */
}