@import url(/src/common/reset.css);

body{
  font-size: 16px;
  font-family: 'SUIT', sans-serif;
}

.popup{
  width: 359px;
  /* height: 373px; */
  border: 1px solid #616161;
  padding: 30px 20px 0px 20px;
  margin: 100px;
  position: relative;
  display: flow-root;

  h2{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.125rem;
    
    span{
      color: #616161;
      font-size: 14px;
      margin-top: 8px;
    }
  }
  hr{
    color: #0F0F0F;
    border: 1px solid #0F0F0F;
  }

  p{
    font-size: 16px;
    line-height: 1.4rem;
    color: #0F0F0F;
    
  }
  .text-group{
    padding-bottom: 186px;
  }
  .x-btn{
    position: absolute;
    right: 16px;
    top: 16px;
  }

    .table-wrap{
      padding-bottom: 20px;
      display: flow-root;
    }
  
    .left{
      /* background-color: red; */
      float: left;
      width: 179px;
    }
    .right{
      /* background-color: yellow; */
      width: 179px;
      box-sizing: border-box;
      float: right;
      padding-left: 20px;
      /* padding-right: 40px; */
      border-left: 1px solid #0F0F0F;
    }
    th,td{
      box-sizing: border-box;
      display: inline-block;
      width: 60px;
      height: 13px;
      text-align: left;
      font-size: 13px;
      margin: 5px 0;
    }

}