@import url(/src/ui-test/styles/06-avatar-component.css);
.ul-wrapper{
  
  .li-wrapper{
    margin: 0px auto;
    width: 376px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white);
    display: flow-root;
  }

  .fig-wrapper{
    float: left;
    margin: 10px;
  }


}

.btn-ul{
  background-color: var(--white);
  width: 376px;
  margin: 0px auto;
  border-radius: 10px;
  padding: 20px;
  font-size: 0;
  
  .btn-li{
    /* line-height: 0; */
    padding: 10px;
    display: inline-block;
  }
}