:root{
  /* Color styles */
--primary: rgba(3, 207, 93, 1);

--white: rgba(255, 255, 255, 1);

--gray-10: rgba(218, 218, 218, 1);
--gray-20: rgba(153, 153, 153, 1);
--gray-30: rgba(102, 102, 102, 1);

--black: rgba(51, 51, 51, 1);
--black-alpha: rgba(0, 0, 0, 0.10000000149011612);

--warning: rgba(255, 20, 20, 1);

--blue-100: #e9f0fd; /* 가장 밝은 파란색 (기준점) */
--blue-500: #618cec;
--blue-900: #24388d;



/* Text-size styles */
--regular14: .875rem;
--regular12: .75rem;

--bold16: 1rem;
--bold14: .875rem;

/* 여백(Spacing)*/
--spacing-4: .25rem;
--spacing-8: .5rem;
--spacing-12: .75rem;
--spacing-16: 1rem;
--spacing-20: 1.25rem;
--spacing-24: 1.5rem;
--spacing-28: 1.75rem;
--spacing-32: 2rem;
--spacing-36: 2.25rem;
--spacing-40: 2.5rem;
--spacing-44: 2.75rem;
--spacing-48: 3rem;

  /* 둥근모서리(Rounded) */
  --rounded-xs: .125rem;
  --rounded-sm: .25rem;
  --rounded-md: .5rem;
  --rounded-base: 1rem;
  --rounded-circle: 50%;

}